# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

JustEnoughItems-1.21.1

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run
runs
local.properties
